<div id="lead_show">
  <ul class="list-group">
    <li class="list-group-item"><b>Name: </b> <%= @lead.name %></li>
    <li class="list-group-item"><b>Phone number: </b> <%=@lead.phone_number %></li>
    <li class="list-group-item"><b>Email: </b> <%=@lead.email %></li>
    <li class="list-group-item"><b>Contact: </b> <%= @lead.contact %><b></li>
    </ul>
</div>


<!-- <button type="button" name="button"><- Previous </button>
<button class="js-next" name="js-next" onclick= nextLead()>Next  ></button> -->
 <%= link_to 'Edit Lead', edit_company_lead_path(@lead) %><br>
<%= link_to 'Delete Lead', company_lead_path(@lead), method: :delete %>
