<% if @companies != [] %>
<h2>Your accounts and in-progress accounts</h2>
<table class="table table-hover">
  <tbody>
      <% @companies.each do |company| %>
      <tr>
        <th scope="row" id="companyId-<=company.id%>"></th>
        <td><%= link_to company.name, company_path(company)%>

          <button id="more-<%=company.id%>-company"
            class="js-more" data-id="<%= company.id %>"
            onclick="moreInfo(this)">Show Leads/Contacts</button>
         <ul id="companyShow-<%=company.id%>">
         </ul>
       </tr>
      <%end%>
    </tbody>
</table>
  <% else %>
  <h3>You have not added any companies yet.</h3>
<%end %>

<%= link_to "Add Company", new_company_path %> <br>
