<% if @companies != [] %>
<h2>Your accounts and in-progress accounts</h2>
<ul>
  <% @companies.each do |company| %>

    <b><%= link_to company.name, company_path(company)%></b>
    <button id="more-<%=company.id%>-company" class="js-more" data-id="<%= company.id %>" onclick="moreInfo(this)">Show Leads/Contacts</button> </br>
    <ul id="company-<%=company.id%>">

    </ul>
  <%end%>
</ul>
  <% else %>
  <h3>You have not added any companies yet.</h3>
<%end %>

<%= link_to "Add Company", new_company_path %> <br>
