<h3><%=@company.name%></h3>
<b><p class= "revenue">Revenue(in thousands):</b> <%= @company.revenue %></p>
<b><p class="customer">Customer:</b> <%= @company.customer %></p>

<button class="js-previous" data-id="<%= @company.id %>" onclick= previousCompany()><--- Previous Account</button>
<button class="js-next" data-id="<%= @company.id %>" onclick= nextCompany()>Next Account ---></button>

<h4><%= @company.name%>'s Leads/Contacts</h4>
<ul class= "company-info">
    <% @company.leads.each do |lead| %>
  <li><b> <%= link_to lead.name, company_lead_path(current_user, lead) %> </b>|
    <b>Contact?:</b> <%= lead.contact  %></li>
  <!-- <span id="edit-lead"><%= link_to 'Edit Lead', edit_company_lead_path(current_user, lead) %></span></li> -->
  <%end %>

</ul>

<div class="add-lead">
<%= link_to "Add a lead/contact", new_company_lead_path(@company) %> </br>
</div>
<div class="edit-link">
<%= link_to "Edit Company", edit_company_path(@company)%> </br>
</div>
<div class="delete-link">
<%= link_to 'Delete Company', company_path(@company), method: :delete %>
</div>

<h3>Comments</h3>
<%= form_for @comment do |f| %>
  <label>Add a comment:</label>
  <%= f.text_field :text %>
  <span id= "company-field">
    <%= f.hidden_field :company_id, value: @company.id %>
  </span>
  <%= f.submit "Submit", id: "submit"%>
<% end %>
