<h1>Sales Dashboard</h1>

<table class="table table-striped">

  <tbody>
    <tr>
      <th scope="row">Total Revenue(in thousands)</th>
      <td>$<%= @total_revenue %></td>
    </tr>
    <tr>
      <th scope="row">Total Revenue(in thousands)</th>
      <td>$<%= @total_pipeline %></td>
    </tr>
    <tr>
      <th scope="row">Total Pipeline including closed deals(in thousands)</th>
      <td>$<%= @total_pipeline %></td>
    </tr>
    <tr>
      <th scope="row">Total Contacts:</th>
      <td><%= @total_contacts %> contacts</td>
    </tr>
    <tr>
      <th scope="row">Total Leads:</th>
      <td><%= @total_leads %> leads</td>
    </tr>
    <tr>
      <th scope="row">Total Accounts:</th>
      <td><%= @total_accounts %> accounts</td>
    </tr>
  </tbody>
</table>
